<!-- navbar -->
<section id="navbar">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light py-4">

      <!-- navbar brand / title -->
      <a class="navbar-brand">
        <span class="text-secondary fw-bold">
          <i class="bi bi-app-indicator"></i>
          Lorenzo Morelli - Web Design
        </span>
      </a>

      <!-- toggle button for mobile nav -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
        aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- navbar links -->
      <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-target="features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-target="reviews">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-target="price">Pricing</a>
          </li>
          <li class="nav-item ms-2 d-none d-md-inline">
            <a class="btn btn-primary fw-semibold">Contact me</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<!-- intro -->
<section id="intro">
  <div class="container d-flex justify-content-start align-items-center" style="height: 90vh;">
    <div class="row flex-lg-row align-items-center">
      <div class="col-lg-6">
        <h1 class="display-2 fw-bold text-body-light lh-1 mb-3 intro-h1"><span>Design</span><span> First</span></h1>
        <p class="lead intro-p">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s
          most
          popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive
          prebuilt components, and powerful JavaScript plugins.</p>
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-semibold">Primary</button>
      </div>
    </div>
  </div>
</section>

<!-- features -->
<section id="features">
  <div class="container">
    <div class="row flex-lg-row align-items-center justify-content-between py-5 my-5">
      <div class="col-10 col-sm-8 col-lg-5 features-left">
        <img src="hero.jpg" class="d-block mx-lg-auto img-fluid rounded-4" alt="Bootstrap Themes" width="700"
          height="500" loading="lazy">
      </div>
      <div class="col-lg-6 features-right">
        <h2 class="fw-bold text-body-emphasis mb-3">Responsive left-aligned hero with image</h2>
        <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most
          popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive
          prebuilt components, and powerful JavaScript plugins.</p>
      </div>
    </div>
    <div class="row flex-lg-row-reverse align-items-center justify-content-between pb-5 mb-5">
      <div class="col-10 col-sm-8 col-lg-5 features-right">
        <img src="hero.jpg" class="d-block mx-lg-auto img-fluid rounded-4" alt="Bootstrap Themes" width="700"
          height="500" loading="lazy">
      </div>
      <div class="col-lg-6 features-left">
        <h2 class="fw-bold text-body-emphasis mb-3">Responsive left-aligned hero with image</h2>
        <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most
          popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive
          prebuilt components, and powerful JavaScript plugins.</p>
      </div>
    </div>
    <div class="row flex-lg-row align-items-center justify-content-between pb-5 mb-5">
      <div class="col-10 col-sm-8 col-lg-5 features-left">
        <img src="hero.jpg" class="d-block mx-lg-auto img-fluid rounded-4" alt="Bootstrap Themes" width="700"
          height="500" loading="lazy">
      </div>
      <div class="col-lg-6 features-right">
        <h2 class="fw-bold text-body-emphasis mb-3">Responsive left-aligned hero with image</h2>
        <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most
          popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive
          prebuilt components, and powerful JavaScript plugins.</p>
      </div>
    </div>
  </div>
</section>

<!-- canva -->
<section id="canva">
  <div class="container py-5">
    <div class="row d-flex align-items-center justify-content-center ">
      <div class="col-3">
        <div class="col">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
              class="bi bi-collection" viewBox="0 0 16 16">
              <path
                d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5z" />
            </svg>
          </div>
          <h3 class="fs-2 text-body-emphasis">Featured title</h3>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
            probably just keep going until we run out of words.</p>
        </div>
        <div class="col">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
              class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
              <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
            </svg>
          </div>
          <h3 class="fs-2 text-body-emphasis">Featured title</h3>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
            probably just keep going until we run out of words.</p>
        </div>
      </div>
      <div class="col-5">
        <div style="width: 100%"><canvas id="grafico"></canvas></div>
      </div>
      <div class="col-3">
        <div class="feature col">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-toggles2"
              viewBox="0 0 16 16">
              <path d="M9.465 10H12a2 2 0 1 1 0 4H9.465c.34-.588.535-1.271.535-2s-.195-1.412-.535-2" />
              <path
                d="M6 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6m0 1a4 4 0 1 1 0-8 4 4 0 0 1 0 8m.535-10a4 4 0 0 1-.409-1H4a1 1 0 0 1 0-2h2.126q.138-.534.41-1H4a2 2 0 1 0 0 4z" />
              <path d="M14 4a4 4 0 1 1-8 0 4 4 0 0 1 8 0" />
            </svg>
          </div>
          <h3 class="fs-2 text-body-emphasis">Featured title</h3>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
            probably just keep going until we run out of words.</p>
        </div>
        <div class="feature col">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-award"
              viewBox="0 0 16 16">
              <path
                d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702z" />
              <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1z" />
            </svg>
          </div>
          <h3 class="fs-2 text-body-emphasis">Featured title</h3>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
            probably just keep going until we run out of words.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- reviews -->
<section id="reviews" class="shadow bg-light overflow-x-scroll">
  <div class="container-fluid py-5 my-5">
    <div class="row flex-nowrap horizontal-wrapper">
      <div class="col-5">
        <div class="row flex-lg-row align-items-center">
          <div class="col-10 col-sm-8 col-lg-5">
            <img src="faccia.jpg" class="d-block mx-lg-auto rounded-circle shadow" alt="Bootstrap Themes" width="100"
              height="100" loading="lazy">
          </div>
          <div class="col-lg-7">
            <h4 class="text-body-emphasis mb-3">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </h4>
            <p class="lead">"Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s
              most
              popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system,
              extensive
              prebuilt components, and powerful JavaScript plugins."</p>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="row flex-lg-row align-items-center">
          <div class="col-10 col-sm-8 col-lg-5">
            <img src="faccia.jpg" class="d-block mx-lg-auto rounded-circle shadow" alt="Bootstrap Themes" width="100"
              height="100" loading="lazy">
          </div>
          <div class="col-lg-7">
            <h4 class="fw-bold text-body-emphasis mb-3">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </h4>
            <p class="lead">"Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s
              most
              popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system,
              extensive
              prebuilt components, and powerful JavaScript plugins."</p>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="row flex-lg-row align-items-center">
          <div class="col-10 col-sm-8 col-lg-5">
            <img src="faccia.jpg" class="d-block mx-lg-auto rounded-circle shadow" alt="Bootstrap Themes" width="100"
              height="100" loading="lazy">
          </div>
          <div class="col-lg-7">
            <h4 class="fw-bold text-body-emphasis mb-3">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </h4>
            <p class="lead">"Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s
              most
              popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system,
              extensive
              prebuilt components, and powerful JavaScript plugins."</p>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="row flex-lg-row align-items-center">
          <div class="col-10 col-sm-8 col-lg-5">
            <img src="faccia.jpg" class="d-block mx-lg-auto rounded-circle shadow" alt="Bootstrap Themes" width="100"
              height="100" loading="lazy">
          </div>
          <div class="col-lg-7">
            <h4 class="fw-bold text-body-emphasis mb-3">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </h4>
            <p class="lead">"Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s
              most
              popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system,
              extensive
              prebuilt components, and powerful JavaScript plugins."</p>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="row flex-lg-row align-items-center">
          <div class="col-10 col-sm-8 col-lg-5">
            <img src="faccia.jpg" class="d-block mx-lg-auto rounded-circle shadow" alt="Bootstrap Themes" width="100"
              height="100" loading="lazy">
          </div>
          <div class="col-lg-7">
            <h4 class="fw-bold text-body-emphasis mb-3">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </h4>
            <p class="lead">"Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s
              most
              popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system,
              extensive
              prebuilt components, and powerful JavaScript plugins."</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- action -->
<section id="action">
  <div class="container pb-5">
    <div class="px-4 pt-5 my-5 text-center border-bottom">
      <h1 class="display-4 fw-bold text-body-emphasis">Centered screenshot</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most
          popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive
          prebuilt components, and powerful JavaScript plugins.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
          <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3 fw-semibold">Primary button</button>
        </div>
      </div>
      <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
          <img src="action.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700"
            height="500" loading="lazy">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- price -->
<section id="price" class="bg-dark text-white">
  <div class="container pt-5 mt-5">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-bold text-white-emphasis">Pricing</h1>
      <p class="fs-5 text-body-secondary">Quickly build an effective pricing table for your potential customers with
        this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.
      </p>
    </div>

    <main>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Minimalist Site</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">1499<small class="text-body-secondary fw-light">€</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>10 users included</li>
                <li>2 GB of storage</li>
                <li>Email support</li>
                <li>Help center access</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-primary fw-semibold">Sign up for free</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Site + Animation</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">2499<small class="text-body-secondary fw-light">€</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>20 users included</li>
                <li>10 GB of storage</li>
                <li>Priority email support</li>
                <li>Help center access</li>
                <li>Awesome Gsap Animation</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-primary fw-semibold">Get started</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
              <h4 class="my-0 fw-normal">Site + Animation + SEO</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">3499<small class="text-body-secondary fw-light">€</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>30 users included</li>
                <li>15 GB of storage</li>
                <li>Phone and email support</li>
                <li>Help center access</li>
                <li>Awesome Gsap Animation</li>
                <li>SEO involved</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-primary fw-semibold">Contact us</button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="py-5 mt-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <img class="mb-2" src="logo.png" alt="" width="50" height="50">
          <small class="d-block mb-3 text-body-secondary">© 2017–2024</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</section>